---
import Layout from '../layouts/Layout.astro';
---

<Layout title="automataRules — Elementary Cellular Automata">
  <main>
    <p class="text-white text-center pt-20">automataRules.com</p>
  </main>
</Layout>
